# dependencies
node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json

# production
/dist

# misc
.DS_Store

# umi
.umi
.umi-production

# history
.history

/tmp
/docs/.vuepress/dist/
/docs/temp/
# idea
.idea
.vscode

# bit
/components
.bitmap
.bit
