default-color = #1890ff

// 高亮选中
$accentColor = default-color
// 进度条
$nprogressColor = default-color

$rightAnchorBgColor = #fff
$rightAnchorTextColor = $textColor
$rightAnchorFontSize = 14px
// btn
$rightAnchorBtnTextColor = $rightAnchorTextColor
$rightAnchorBtnBgColor = $rightAnchorBgColor
// menu
$rightAnchorMenuTextColor = $rightAnchorTextColor
